/node_modules
/public/storage
/storage/*.key
/vendor
/public/img/item-master/*
/public/img/item-sourcing/*
/public/item-master-files/*
/public/item-sourcing-files/*
/public/img/production-items/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.log
public/img/item-master-fa/*
