/node_modules
/public/storage
/storage/*.key
/vendor
/public/img/item-master/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.log
