
.label-purple {
    background: #7e57c2;
}

.label-pink {
    background: #f02263;
}

.label-yellow {
    background: #ddf732;
    color: black;
}

.swal2-popup, .swal2-modal, .swal2-icon-warning .swal2-show {
    font-size: 1.6rem !important;
}